
.navbar {
    float: right;
}
.bg-light {
    background-color: #ffffff!important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}
.pad {
    padding-top: 12px;
    font-size: 13px !important;
    font-weight: 100 !important;
}
@media only screen and (min-width: 768px) {
    .center {
        display: block;
        margin-left: 505px;
        margin-right: auto;
        width: 285px;
        background-color: #ffffff;
        padding-top: 100px;
    }
    .input1 {
        
        height: calc(1.5em + .75rem + 8px);
        border-radius: 2.5rem;
        cursor: pointer;
    }
    #form1 {
        display: flex;
        margin-bottom: 33px;
    }
    .form-row {
        width: 45.3%;
        margin: auto;
        border-radius: 2.5rem;
        
    }
    #micimg {
        margin-left: -400px;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 600px) {
    .center {
        display: block;
        margin-left: 35px;
        margin-right: auto;
        width: 285px;
        background-color: #ffffff;
        padding-top: 50px;
    }
    #form1 {
        display: flex;
        margin-bottom: 35px;
    }
    .form-row {
        width: 80%;
        margin: auto;
    }
   
    #micimg {
        margin-left: -70px;
        margin-top: 5px;
    }
    .input1 {
        
        height: calc(1.5em + .75rem + 6px);
        border-radius: 2.5rem;
        cursor: pointer;
    }
}
.form-row:hover {
    border: solid 1px #CCC;
    border-radius: 2.5rem;
    box-shadow: 1px 1px 5px #999;
    
}
.button1 {
    margin-right: 20px;
    font-size: 14px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #5F6368;
}
.button1:hover {
    box-shadow: 1px 5px 5px rgba(0,10,0,0.3);
    transition: opacity 0.2s ease-in-out;
    color: black;
    border-color: #a6abb7;
    background-color: #f2f2f2;
}
.footer {
    margin-top: 60px;
    border-top: 1px solid rgb(242, 242, 242);
    color: #5f6368;
    background-color: rgb(242, 242, 242);
    font-size: 0.9rem;
    padding: 0.75rem 1.25rem;
}
.footerB {
    padding: 0.75rem 1.25rem;
    background-color: rgb(242, 242, 242);
}
.footerNav {
    display: flex;
}
.footerNav a {
    color: #5f6368;
    font-family: arial,sans-serif;
    font-size: small;
    margin-right: 10px;
    
}
.footerlink {
    width: 86%;
}
.langA {
    margin-right: 10px;
}